.game-status .cell {
  margin: 0 4px;
}
.game-status {
  padding: 24px 0;
  
  height: 64px;

  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}
.game-status .game-end {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-direction: column;
}

.game-status .label {
  font-size: 32px;
  line-height: 1em;
  text-align: center;
}
