html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.App {
  height: 100%;
  width: 100%;

  box-sizing: border-box;
}

body {
  --background-color: white;
  --main-font-color: hsl(185, 6%, 50%);
  background-color: var(--background-color);
}

@media (prefers-color-scheme: dark) {
  body {
    /* --background-color: #3a3a45;
    --main-font-color: hsl(240deg 9% 85%); */
  }
}

a {
  color: var(--main-font-color);
  text-decoration: none;
}

section {
  box-sizing: border-box;
  max-height: 100%;

  overflow-y: auto;
  overflow-x: hidden;

  color: var(--main-font-color);
  font-family: "Segoe UI", "Noto Sans CJK SC", "Source Han Sans", "Source Han Sans CN", "Microsoft JhengHei", DengXian, "微软雅黑", "黑体", sans-serif;
  font-size: 18px;
}

@media screen and (max-width: 500px)  {
  /* screen宽度不大于500px时 */
  section {
    width: 100%;
  }
}

@media screen and (max-width: 320px)  {
  /* screen宽度不大于320px时 */
  section {
    padding-left: .5em;
    padding-right: .5em;
  }
}
