.row {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.inner-is-open[class*="n-"] {
  font-family: Arial, 'Courier New', Courier, monospace;
  font-weight: 900;
  text-shadow: 1px 1px 1px #DDD;
}

/* 红、橙、黄、绿、青、蓝、紫 */
/* .inner-is-open.n-0 { } */
.inner-is-open.n-1 { color: hsl(201, 47%, 35%) }
.inner-is-open.n-2 { color: hsl(150, 81%, 40%) }
.inner-is-open.n-3 { color: hsl(332, 87%, 45%) }
.inner-is-open.n-4 { color: hsl(266, 55%, 58%) }
.inner-is-open.n-5 { color: hsl(29, 71%, 50%) }
.inner-is-open.n-6 { color: hsl(308, 80%, 60%) }
.inner-is-open.n-7 { color: hsl(182, 60%, 45%) }
.inner-is-open.n-8 { color: hsl(22, 99%, 28%) }
.inner-is-open {
  background-color: hsla(201, 47%, 85%, 0.15);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  box-shadow: 0 0 1px #777;
}

.inner-un-open.mark-flag {
  /* background-color: grey; */
}
.cell.press .inner-un-open {
  background: -webkit-linear-gradient(-89deg, hsl(201deg 19% 78%),#f0f0f0);
  box-shadow: 0 0px 0px 1px hsl(204deg 10% 68%);
}
.inner-un-open {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;

  background-color: hsla(201, 47%, 35%, 0.15);
  /* background-color: hsl(210deg 14% 64%); */
  z-index: 1000;
  box-shadow: 0 0 1px grey;
  /* box-shadow: 0 0 1px #777, inset -5px 5px 5px -5px white, inset 5px 5px 5px -5px white, inset 5px 5px 5px -5px white, inset 0 -5px 10px -10px black, inset -5px 0px 10px -10px black; */
  ;

  background: -webkit-linear-gradient(89deg, hsl(201deg 19% 78%),#f0f0f0);
  box-shadow: 0 0px 0px 1px hsl(204deg 10% 68%);
  border-radius: 2px;
}

.cell.press {
  /* border: solid 1px red; */
}

.cell.is-open {
  cursor: default;
}
.cell.un-open {
  cursor: pointer;
}
.cell {
  user-select: none;
  position: relative;
  /* color: transparent; */

  width: 32px;
  height: 32px;
  
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;

  border: solid 1px hsl(201deg 47% 85% / 15%);
  box-sizing: border-box;
  /* border: solid 1px #DDD; */
  
}
